numpy~=1.19.5
torch~=1.8.0+cu111
opencv-python~=4.5.1.48
torchvision~=0.9.0+cu111
scipy~=1.6.0
matplotlib~=3.3.3
Pillow~=7.1.2
pandas~=1.2.1
scikit-image~=0.18.2
h5py~=2.10.0
kornia~=0.5.7
Wand~=0.6.11
